<!DOCTYPE html>
<html>
<head>
  <title>Tabbar.js</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="../doc-style.css" />
  <script src="../doc-filelist.js"></script>
  <script>
    var relativeDir = "../", thisFile = "Users/barton/projects/MFV/snowflake//components/Tabbar.js", defaultSidebar = true;
  </script>
  <script src="../doc-script.js"></script>
</head>
<body>
  <div id="sidebar_wrapper">
    <div id="sidebar_switch">
      <span class="tree">Files</span>
      <span class="headings">Headings</span>
    </div>
    <div id="tree"></div>
    <div id="headings">
      <div class="heading h1">
        <a href="#tabbar.js">Tabbar.js</a>
      </div>
      <div class="heading h2">
        <a href="#imports">Imports</a>
      </div>
      <div class="heading h2">
        <a href="#styles">Styles</a>
      </div>
      <div class="heading h2">
        <a href="#tabbar%20class">Tabbar class</a>
      </div>
      <div class="heading h3">
        <a href="#render">render</a>
      </div>
    </div>
  </div>
  <div id="sidebar-toggle"></div>
  <div id="container"><div class="background highlight"></div>
<table cellpadding="0" cellspacing="0">
  <tbody>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="tabbar.js">
  <h1>
    <a href="#tabbar.js" name="tabbar.js" class="pilcrow">&#182;</a>
    Tabbar.js
  </h1>
</div>

  </div>
  <div class="body"><p>This class provides basic navigation between the home and the
profile only if the user is logged in </p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre><span class="s1">&#39;use strict&#39;</span><span class="p">;</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
  </div>
  <div class="body">
<div class="pilwrap" id="imports">
  <h2>
    <a href="#imports" name="imports" class="pilcrow">&#182;</a>
    Imports
  </h2>
</div>


<p>React</p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kr">import</span> <span class="nx">React</span><span class="p">,</span>
<span class="p">{</span>
  <span class="nx">StyleSheet</span><span class="p">,</span>
  <span class="nx">View</span>
<span class="p">}</span>
<span class="nx">from</span> <span class="s1">&#39;react-native&#39;</span><span class="p">;</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs">
<div class="pilwrap">
  <a class="pilcrow" href="#section-3" id="section-3">&#182;</a>
</div>
<div class="dox">
  <div class="summary"><p>A tab bar that switches between scenes, written in JS for cross-platform support</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kr">import</span> <span class="nx">TabNavigator</span> <span class="nx">from</span> <span class="s1">&#39;react-native-tab-navigator&#39;</span><span class="p">;</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs">
<div class="pilwrap">
  <a class="pilcrow" href="#section-4" id="section-4">&#182;</a>
</div>
<div class="dox">
  <div class="summary"><p>Font awesome icon</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kr">import</span> <span class="nx">Icon</span> <span class="nx">from</span> <span class="s1">&#39;react-native-vector-icons/FontAwesome&#39;</span><span class="p">;</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs">
<div class="pilwrap">
  <a class="pilcrow" href="#section-5" id="section-5">&#182;</a>
</div>
<div class="dox">
  <div class="summary"><p>project imports</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kr">import</span> <span class="nx">Login</span> <span class="nx">from</span> <span class="s1">&#39;../containers/Login&#39;</span><span class="p">;</span>
<span class="kr">import</span> <span class="nx">Profile</span> <span class="nx">from</span> <span class="s1">&#39;../containers/Profile&#39;</span><span class="p">;</span>


</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="styles">
  <h2>
    <a href="#styles" name="styles" class="pilcrow">&#182;</a>
    Styles
  </h2>
</div>

  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
<span class="kd">var</span> <span class="nx">styles</span> <span class="o">=</span> <span class="nx">StyleSheet</span><span class="p">.</span><span class="nx">create</span><span class="p">({</span>
  <span class="nx">container</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">flexDirection</span><span class="o">:</span> <span class="s1">&#39;column&#39;</span><span class="p">,</span>
    <span class="nx">flex</span><span class="o">:</span> <span class="mi">1</span><span class="p">,</span>
    <span class="nx">backgroundColor</span><span class="o">:</span> <span class="s1">&#39;transparent&#39;</span>
  <span class="p">},</span>
  <span class="nx">header</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">marginTop</span><span class="o">:</span> <span class="mi">30</span><span class="p">,</span>
    <span class="nx">justifyContent</span><span class="o">:</span> <span class="s1">&#39;center&#39;</span><span class="p">,</span>
    <span class="nx">alignItems</span><span class="o">:</span> <span class="s1">&#39;center&#39;</span><span class="p">,</span>
    <span class="nx">backgroundColor</span><span class="o">:</span> <span class="s1">&#39;transparent&#39;</span>
  <span class="p">},</span>
  <span class="nx">mark</span><span class="o">:</span> <span class="p">{</span>
    <span class="nx">width</span><span class="o">:</span> <span class="mi">150</span><span class="p">,</span>
    <span class="nx">height</span><span class="o">:</span> <span class="mi">150</span>
  <span class="p">}</span>
<span class="p">});</span>

<span class="kd">let</span> <span class="nx">Tabbar</span> <span class="o">=</span> <span class="nx">React</span><span class="p">.</span><span class="nx">createClass</span><span class="p">({</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="tabbar%20class">
  <h2>
    <a href="#tabbar%20class" name="tabbar%20class" class="pilcrow">&#182;</a>
    Tabbar class
  </h2>
</div>

  </div>
  <div class="body"><p>getInitialState set the tab to home</p>
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">getInitialState</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span> <span class="p">{</span>
      <span class="nx">selectedTab</span><span class="o">:</span> <span class="s1">&#39;home&#39;</span>
    <span class="p">};</span>
  <span class="p">},</span>

</pre></div>
        </td>
      </tr>
      <tr>
        <td class="docs"><div class="dox">
  <div class="summary">
<div class="pilwrap" id="render">
  <h3>
    <a href="#render" name="render" class="pilcrow">&#182;</a>
    render
  </h3>
</div>


<p>Either display the 'Home' or the 'Profile'</p>
  </div>
  <div class="body">
  </div>
</div>
        </td>
        <td class="code highlight"><div class="highlight"><pre>
  <span class="nx">render</span><span class="p">()</span> <span class="p">{</span>
    <span class="k">return</span> <span class="p">(</span>
      <span class="o">&lt;</span><span class="nx">TabNavigator</span><span class="o">&gt;</span>
        <span class="o">&lt;</span><span class="nx">TabNavigator</span><span class="p">.</span><span class="nx">Item</span> <span class="nx">selected</span><span class="o">=</span><span class="p">{</span><span class="k">this</span><span class="p">.</span><span class="nx">state</span><span class="p">.</span><span class="nx">selectedTab</span> <span class="o">===</span> <span class="s1">&#39;home&#39;</span><span class="p">}</span>
                           <span class="nx">title</span><span class="o">=</span><span class="s2">&quot;Home&quot;</span>
                           <span class="nx">renderIcon</span><span class="o">=</span><span class="p">{()</span> <span class="o">=&gt;</span> <span class="o">&lt;</span><span class="nx">Icon</span> <span class="nx">name</span><span class="o">=</span><span class="s2">&quot;home&quot;</span> <span class="nx">size</span><span class="o">=</span><span class="p">{</span><span class="mi">30</span><span class="p">}</span> <span class="nx">color</span><span class="o">=</span><span class="s2">&quot;#FFB3B3&quot;</span> <span class="o">/&gt;</span><span class="p">}</span>
                           <span class="nx">renderSelectedIcon</span><span class="o">=</span><span class="p">{()</span> <span class="o">=&gt;</span> <span class="o">&lt;</span><span class="nx">Icon</span> <span class="nx">name</span><span class="o">=</span><span class="s2">&quot;home&quot;</span> <span class="nx">size</span><span class="o">=</span><span class="p">{</span><span class="mi">30</span><span class="p">}</span> <span class="nx">color</span><span class="o">=</span><span class="s2">&quot;#FF3366&quot;</span> <span class="o">/&gt;</span><span class="p">}</span>
                           <span class="nx">onPress</span><span class="o">=</span><span class="p">{()</span> <span class="o">=&gt;</span> <span class="k">this</span><span class="p">.</span><span class="nx">setState</span><span class="p">({</span> <span class="nx">selectedTab</span><span class="o">:</span> <span class="s1">&#39;home&#39;</span> <span class="p">})}</span><span class="o">&gt;</span>
          <span class="o">&lt;</span><span class="nx">View</span> <span class="nx">style</span><span class="o">=</span><span class="p">{</span><span class="nx">styles</span><span class="p">.</span><span class="nx">container</span><span class="p">}</span><span class="o">&gt;</span>
            <span class="o">&lt;</span><span class="nx">Login</span> <span class="o">/&gt;</span>
          <span class="o">&lt;</span><span class="err">/View&gt;</span>
        <span class="o">&lt;</span><span class="err">/TabNavigator.Item&gt;</span>
        <span class="o">&lt;</span><span class="nx">TabNavigator</span><span class="p">.</span><span class="nx">Item</span> <span class="nx">selected</span><span class="o">=</span><span class="p">{</span><span class="k">this</span><span class="p">.</span><span class="nx">state</span><span class="p">.</span><span class="nx">selectedTab</span> <span class="o">===</span> <span class="s1">&#39;profile&#39;</span><span class="p">}</span>
                           <span class="nx">title</span><span class="o">=</span><span class="s2">&quot;Profile&quot;</span>
                           <span class="nx">renderIcon</span><span class="o">=</span><span class="p">{()</span> <span class="o">=&gt;</span> <span class="o">&lt;</span><span class="nx">Icon</span> <span class="nx">name</span><span class="o">=</span><span class="s2">&quot;gear&quot;</span> <span class="nx">size</span><span class="o">=</span><span class="p">{</span><span class="mi">30</span><span class="p">}</span> <span class="nx">color</span><span class="o">=</span><span class="s2">&quot;#FFB3B3&quot;</span> <span class="o">/&gt;</span><span class="p">}</span>
                           <span class="nx">renderSelectedIcon</span><span class="o">=</span><span class="p">{()</span> <span class="o">=&gt;</span> <span class="o">&lt;</span><span class="nx">Icon</span> <span class="nx">name</span><span class="o">=</span><span class="s2">&quot;gear&quot;</span> <span class="nx">size</span><span class="o">=</span><span class="p">{</span><span class="mi">30</span><span class="p">}</span> <span class="nx">color</span><span class="o">=</span><span class="s2">&quot;#FF3366&quot;</span> <span class="o">/&gt;</span><span class="p">}</span>
                           <span class="nx">onPress</span><span class="o">=</span><span class="p">{()</span> <span class="o">=&gt;</span> <span class="k">this</span><span class="p">.</span><span class="nx">setState</span><span class="p">({</span> <span class="nx">selectedTab</span><span class="o">:</span> <span class="s1">&#39;profile&#39;</span> <span class="p">})}</span><span class="o">&gt;</span>
          <span class="o">&lt;</span><span class="nx">View</span> <span class="nx">style</span><span class="o">=</span><span class="p">{</span><span class="nx">styles</span><span class="p">.</span><span class="nx">container</span><span class="p">}</span><span class="o">&gt;</span>
            <span class="o">&lt;</span><span class="nx">Profile</span><span class="o">/&gt;</span>
          <span class="o">&lt;</span><span class="err">/View&gt;</span>
        <span class="o">&lt;</span><span class="err">/TabNavigator.Item&gt;</span>
      <span class="o">&lt;</span><span class="err">/TabNavigator&gt;</span>

    <span class="p">)</span>
  <span class="p">}</span>
<span class="p">});</span>

<span class="kr">export</span> <span class="k">default</span> <span class="nx">Tabbar</span><span class="p">;</span>
</pre></div>
        </td>
      </tr>
  </tbody>
</table>
  </div>
</body>
</html>
